extends layout

block content
 .main.container.clearfix
        h3(style='text-align: center;') Live Departures
        div
                table(class="table bordered" style = "text-align: center")
                        thread 
                                tr
                                        th(style="text-align: center") Departing:
                                        th(style="text-align: center") Destination:
                                        th(style="text-align: center") 
                                tbody    
                                        tr
                                                form(action="/bookATicket" method="post")
                                                        td(style="text-align: center") 
                                                                select#from(name='from')
                                                                        option(value='test') Select Station
                                                                                for station in stations 
                                                                                        option(value=station.Name) #{station.Name}
                                                        td(style="text-align: center") 
                                                                select#to(name='to')
                                                                                option(value='test') Select Station
                                                                                        for station in stations 
                                                                                                option(value=station.Name) #{station.Name}
                                                        td(style="text-align: center") 
                                                                button(type="submit") Trains
        div
                if (typeof journeys !== 'undefined')
                        div
                                table(class="table bordered" style="text-align: center")
                                        thread
                                                tr
                                                        th(style="text-align:center") Departing 
                                                        th(style="text-align:center") Arriving 
                                                        th(style="text-align:center") 
                                        tbody
                                                for journey in journeys
                                                        tr      
                                                                td(style="text-align:center")  #{moment(journey.startDate).format('MMMM Do YYYY, h:mm:ss a')}
                                                                td(style="text-align:center")  #{moment(journey.toDate).format('MMMM Do YYYY, h:mm:ss a')}
                                                                td(style="text-align:center") 
                                                                        form(action="/book" method="post")
                                                                                input#journeyId(type="hidden" name="journeyId" value = journey._id)
                                                                                button(type="submit") book